<form class="form mt-2" [formGroup]="formTerceros">
    <dx-date-box formControlName="fechaInicio" type="date" [openOnFieldClick]="true" label="Fecha Inicio"
        labelMode="floating" stylingMode="underlined" [displayFormat]="'dd/MM/yyyy'">
    </dx-date-box>
    <dx-date-box formControlName="fechaFin" type="date" [openOnFieldClick]="true" label="Fecha Fin" labelMode="floating"
        stylingMode="underlined" [displayFormat]="'dd/MM/yyyy'">
    </dx-date-box>

    <button class="button" mat-flat-button (click)="actualizar()">
        <mat-icon>search</mat-icon>
        Actualizar
    </button>

    <button class="button" mat-flat-button (click)="exportar()">
        <mat-icon>file_download</mat-icon>
        Exportar
    </button>
</form>

<div class="grid-container">
    <!-- Spinner superpuesto -->
    <div class="grid-overlay" *ngIf="isLoading">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <!-- Grilla -->
    <dx-data-grid id="dataGrid" class="focqus-elevation mt-2" [dataSource]="datosFiltrados"
        [allowColumnReordering]="true" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true"
        [rowAlternationEnabled]="true" (onCellPrepared)="onCellPrepared($event)" [hoverStateEnabled]="true"
        [wordWrapEnabled]="true" [columnAutoWidth]="true" [selection]="{mode: 'single'}">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" />
        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter" />

        <dxi-column dataField="Marca temporal" [calculateCellValue]="soloFecha" caption="Fecha"></dxi-column>
        <dxi-column dataField="ASESOR CONTACT" caption="Asesor Contact"></dxi-column>
        <dxi-column dataField="DNI CLIENTE" caption="Dni Cliente"></dxi-column>
        <dxi-column dataField="CELULAR GESTIONADO" caption="Celular Gestionado"></dxi-column>
        <dxi-column dataField="FECHA DE RE-LLAMADA" caption="Fecha de Rellamada"></dxi-column>
        <dxi-column dataField="HORA DE RELLAMADA" dataType="date" caption="Hora de Rellamada"></dxi-column>
        <dxi-column dataField="NÚMERO TITULAR ACTUAL" caption="Número Titular Actual"></dxi-column>
        <dxi-column dataField="SEDE" caption="Sede"></dxi-column>
        <dxi-column dataField="MOTIVOS TERCERO RELACIONADO" caption="Motivo General"></dxi-column>
        <dxi-column dataField="estadoTercero" caption="Estado Terceros"></dxi-column>
    </dx-data-grid>
</div>