<form class="form mt-2" [formGroup]="formCobranzas">
    <!-- <dx-date-box formControlName="fechaGestion" type="date" [openOnFieldClick]="true" label="Fecha de Gestión"
        labelMode="floating" stylingMode="underlined" [displayFormat]="'dd/MM/yyyy'">
    </dx-date-box> -->

    <dx-date-box formControlName="fechaInicio" type="date" [openOnFieldClick]="true" label="Fecha Inicio"
        labelMode="floating" stylingMode="underlined" [displayFormat]="'dd/MM/yyyy'">
    </dx-date-box>
    <dx-date-box formControlName="fechaFin" type="date" [openOnFieldClick]="true" label="Fecha Fin" labelMode="floating"
        stylingMode="underlined" [displayFormat]="'dd/MM/yyyy'">
    </dx-date-box>

    <button mat-flat-button [disabled]="formCobranzas.invalid" (click)="actualizar()">
        <mat-icon>search</mat-icon>
        Actualizar
    </button>
    <!-- <input type="file" (change)="importar($event)" accept=".xlsx, .xls" hidden #fileInput />
    <button mat-flat-button (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        Importar
    </button> -->
    <button class="button" mat-flat-button (click)="exportar()">
        <mat-icon>file_download</mat-icon>
        Exportar
    </button>
</form>

<div class="grid-container">
    <div class="grid-overlay" *ngIf="isLoading">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <!-- <h3 class="titulosGrillas">CONTACTABILIDAD POR ASESOR</h3>
    <dx-data-grid class="focqus-elevation" [dataSource]="dataContactabilidad"
        [allowColumnReordering]="true" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true"
        [rowAlternationEnabled]="true" (onCellPrepared)="onCellPrepared($event)" [hoverStateEnabled]="true"
        [wordWrapEnabled]="true" [columnAutoWidth]="true" [selection]="{mode: 'single'}">
        <dxi-column dataField="ASESOR CONTACT" caption="Asesor"></dxi-column>
        <dxi-column dataField="CONTACTO" caption="CONTACTO"></dxi-column>
        <dxi-column dataField="NO CONTACTO" caption="NO CONTACTO"></dxi-column>
        <dxi-column dataField="TOTAL" caption="TOTAL GENERAL"></dxi-column>
        <dxi-column dataField="PORCENTAJE" caption="TOTAL %" [format]="{ type: 'percent', precision: 0 }"></dxi-column>
        <dxo-summary>
            <dxi-total-item alignment="right" column="ASESOR CONTACT" [displayFormat]="'TOTAL'"></dxi-total-item>
            <dxi-total-item alignment="center" column="CONTACTO" summaryType="sum"
                [displayFormat]="'{0}'"></dxi-total-item>
            <dxi-total-item alignment="center" column="NO CONTACTO" summaryType="sum"
                [displayFormat]="'{0}'"></dxi-total-item>
            <dxi-total-item alignment="center" column="TOTAL" summaryType="sum"
                [displayFormat]="'{0}'"></dxi-total-item>
            <dxi-total-item alignment="center" column="PORCENTAJE" summaryType="sum"
                displayFormat="{{porcentajeTotalContactabilidad}}%"></dxi-total-item>
        </dxo-summary>
    </dx-data-grid> -->

    <dx-data-grid id="dataGrid" class="focqus-elevation mt-2" [dataSource]="dataFiltrada" [allowColumnReordering]="true"
        [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
        (onCellPrepared)="onCellPrepared($event)" [hoverStateEnabled]="true" [wordWrapEnabled]="true"
        [columnAutoWidth]="true" [selection]="{mode: 'single'}">

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" />
        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter" />

        <dxi-column dataField="Marca temporal" caption="Marca temporal"></dxi-column>
        <dxi-column dataField="AREA DE GESTIÓN" caption="Área de Gestión"></dxi-column>
        <dxi-column dataField="ASESOR COBRANZA" caption="Asesor Cobranza"></dxi-column>
        <dxi-column dataField="CODIGO CV" caption="Codigo CV"></dxi-column>
        <dxi-column dataField="TELEFONO GESTIONADO" caption="Telefono Gestionado"></dxi-column>
        <dxi-column dataField="STATUS DE GESTIÓN" caption="Estado de Gestión"></dxi-column>
        <dxi-column dataField="MEDIO DE CONTACTO" caption="Medio de Contacto"></dxi-column>
        <dxi-column dataField="TIPO PERSONA CONTACTADA" caption="Persona Contactada"></dxi-column>
        <dxi-column dataField="MOTIVO NO CONTACTO COBRANZAS" caption="Motivo No Contacto"></dxi-column>
        <dxi-column dataField="TERCERO RELACIONADO CLIENTE" caption="Tercero Relacionado Cliente"></dxi-column>
        <dxi-column dataField="COMENTARIO TRC" caption="Comentario TRC"></dxi-column>
        <dxi-column dataField="DIRECCIÓN ACTUAL CORRECTA" caption="Dirección Actual Correcta"></dxi-column>
        <dxi-column dataField="TIPO DE PAGO" caption="Tipo de Pago"></dxi-column>
        <dxi-column dataField="TIPO PAGO REALIZADO" caption="Tipo de Pago Realizado"></dxi-column>
        <dxi-column dataField="GESTOR COBRANZAS" caption="Gestor Cobranza"></dxi-column>
        <dxi-column dataField="COMENTARIO GDG" caption="Comentario GDG"></dxi-column>

        <dxo-summary>
            <dxi-total-item [alignment]="'right'" column="Marca temporal" summaryType="count"
                displayFormat="Registros: {0}"></dxi-total-item>
        </dxo-summary>
    </dx-data-grid>
</div>