<form class="form mt-2" [formGroup]="formAgendamientos">
    <dx-date-box formControlName="fechaGestion" type="date" [openOnFieldClick]="true" label="Fecha Inicio"
        labelMode="floating" stylingMode="underlined" [displayFormat]="'dd/MM/yyyy'">
    </dx-date-box>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Fecha de Gestión</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaGestion">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <button class="button" mat-flat-button (click)="actualizar()">
        <mat-icon>search</mat-icon>
        Actalizar
    </button>
</form>

<dx-data-grid id="dataGrid" class="focqus-elevation mt-2" [dataSource]="datosFiltrados" [allowColumnReordering]="true"
    [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true" (onCellPrepared)="onCellPrepared($event)"
    [hoverStateEnabled]="true" [wordWrapEnabled]="true" [columnAutoWidth]="true" [selection]="{mode: 'single'}">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]" />
    <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter" />

    <dxi-column dataField="Marca temporal" [calculateCellValue]="soloFecha" caption="Fecha"></dxi-column>
    <dxi-column dataField="ASESOR CONTACT" caption="Asesor Contact"></dxi-column>
    <dxi-column dataField="DNI CLIENTE" caption="Dni Cliente"></dxi-column>
    <dxi-column dataField="CELULAR GESTIONADO" caption="Celular Gestionado"></dxi-column>
    <dxi-column dataField="PRODUCTO INTERÉS" caption="Producto Interés"></dxi-column>
    <dxi-column dataField="FECHA DE INTERÉS" dataType="date" caption="Fecha de Interés"></dxi-column>
    <dxi-column dataField="HORA APROXIMADA INTERÉS" caption="Hora Aproximada Interés" [sortOrder]="'asc'"></dxi-column>
    <dxi-column dataField="SEDE" caption="Sede"></dxi-column>
    <dxi-column caption="Comentario x Motivo" [calculateCellValue]="getComentarioAdicionalUnido"></dxi-column>
    <dxi-column dataField="estadoAgendamiento" caption="Estado Agendamiento"></dxi-column>
</dx-data-grid>